---
layout: default
---

<!-- {% for post in paginator.posts %}
  {% include post.html post=post link_title=true %}
  <br/>
{% endfor %}

{% include pagination.html %} -->



{% for post in paginator.posts %}
      <!-- <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      </li> -->
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul><hr/>{% endunless %}
    <h1 id="y{{post.date | date: "%Y"}}" style="color: #ef5b30">{{ currentdate }}</h1>
    <!-- <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1> -->
    <ul class="related-posts">
    {% assign date = currentdate %}
  {% endif %}
  <!-- {% include post-list-item.html post=post format="%m/%d" %} -->
  <a href="{{ post.url }}" style="font-size: 25px;margin: 5px auto">{{ post.title }}</a><br>
  <h4 style="color: gray; font-size: 18px;margin: 30px auto">{{post.date | date: "%m-%d"}}</h4><br>

  {% if forloop.last %}</ul><hr/>{% endif %}
{% endfor %}







<!-- {% for post in paginator.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  
    <ul class="related-posts">
    <li><h2{% include post-list-item.html post=post format="%y/%m/%d" %}</li></h2>
    <h4 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h4>
    {% assign date = currentdate %}

{% endfor %} -->


{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
