---
layout: default
---

{% assign tag = site.data.tags[page.tag] %}

{% if tag %}
  {% assign posts = site.tags[page.tag] %}

  <h1 class="page-title">{{ tag.name }}</h1>

  {% if tag.description %}
    {% comment %}
      Adding the "message" class to the last (and usually only) paragraph of the description.
    {% endcomment %}
    {% capture desc %}{{ tag.description }}{:.message}{% endcapture %}
    {{ desc | markdownify }}
  {% endif %}

  <hr/>
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}</ul><hr/>{% endunless %}
    <!-- <h2 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h2> -->
    <h1 id="y{{post.date | date: "%Y"}}" style="color: #ef5b30">{{ currentdate }}</h1>
    <ul class="related-posts">
    {% assign date = currentdate %}
  {% endif %}
  <!-- {% include post-list-item.html post=post format="%m/%d" %} -->
  <a href="{{ post.url }}" style="font-size: 25px; color: #2d3e4f; margin: 1px auto">{{ post.title }}</a><br>
  <p style="color: #7f8c8d; font-size: 18px;margin: 1px auto;font-style:normal">{{post.date | date: "%y年%m月%d号"}}</p><br>
  <!-- <hr style="margin: 22px auto"> </hr> -->
  <!-- <hr style="margin: 22px auto"> -->
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}
